
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>
<form id="cadMercadoria" action="@Url.Action("CadastrarTransacao","Cadastro")" method="post">

    <div class="form-group row">
        <label class="col-xs-2 col-form-label">Nome da Mercadoria</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" placeholder="Nome Mercadoria" name="nome" required />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-xs-2 col-form-label">Código da Mercadoria</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" placeholder="Código da Mercadoria" name="codigo" maxlength="5" required />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-xs-2 col-form-label">Tipo da Mercadoria</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" placeholder="Tipo da Mercadoria" name="tipo" required />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-xs-2 col-form-label">Quantidade</label>
        <div class="col-xs-10">
            <input class="form-control" type="number" step="1" min="1" placeholder="Quatidade" name="quantidade" required />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-xs-2 col-form-label">Preço (R$)</label>
        <div class="col-xs-10">
            <input class="form-control" type="number" step="1" min="1" placeholder="Preço" name="preco" required />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-xs-2 col-form-label">Tipo do Negócio</label>
        <div class="col-xs-10">
            <select class="form-control" name="tipoNegocio" required>
                <option value="Compra">Compra</option>
                <option value="Venda">Venda</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>

</form>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    $("#cadMercadoria").validate();
</script>


